<!DOCTYPE html>
<html>
   <head>
        <h1>How Garbage Are You?</h1>
       <title> How Garbage Are You?</title>
       <link rel="stylesheet" href="css/style.css" />
   </head>
   <body>
    <form action="/results" method="POST">
       <div class="quiz-question">
         <h2>Who's your favortive rapper?</h2>
         <label class= "quiz-question">Lil Pump
           <input type="radio" checked name="radio1" value='lil-pump'>
           <span class="checkmark"></span>
         </label>
         
         <label class= "quiz-question">Iggy Azalea 
           <input type="radio" checked name="radio1" value='Iggy-Azalea'>
           <span class="checkmark"></span>
         </label>
         
        <label class= "quiz-question"> XXXTentacion 
           <input type="radio" checked name="radio1" value='XXXTentacion'>
           <span class="checkmark"></span>
         </label>
         
       <label class= "quiz-question">Lil Uzi Vert 
           <input type="radio" checked name="radio1" value='Lil-Uzi-Vert'>
           <span class="checkmark"></span>
         </label>
         
         </div>
         
         

<h2> What kind of food do you like ? </h2>

<label class= "quiz-question">Pineapple On Pizza
           <input type="radio" checked name="radio2" value='Pineapple-On-Pizza'>
           <span class="checkmark"></span>
         </label>


<label class= "quiz-question">Candy Corn
           <input type="radio" checked name="radio2" value='Candy-Corn'>
           <span class="checkmark"></span>
         </label>

<label class= "quiz-question">Olives
           <input type="radio" checked name="radio2" value='Olives'>
           <span class="checkmark"></span>
         </label>

<label class= "quiz-question">Tofu
           <input type="radio" checked name="radio2" value='Tofu'>
           <span class="checkmark"></span>
         </label>



<h2> What TV show do you like ? </h2>
<label class= "quiz-question">Drake & Josh
           <input type="radio" checked name="radio3" value='Drake&Josh'>
           <span class="checkmark"></span>
         </label>


<label class= "quiz-question">The Walking Dead 
           <input type="radio" checked name="radio3" value='The-Walking-Dead'>
           <span class="checkmark"></span>
         </label>

<label class= "quiz-question">Rick & Morty
           <input type="radio" checked name="radio3" value='Rick&Morty'>
           <span class="checkmark"></span>
         </label>

<label class= "quiz-question">Riverdale
           <input type="radio" checked name="radio3" value='Riverdale'>
           <span class="checkmark"></span>
         </label>

<h2> What do You Drink ? </h2>
<label class= "quiz-question">Juice
           <input type="radio" checked name="radio4" value='Juice'>
           <span class="checkmark"></span>
         </label>


<label class= "quiz-question">Soda 
           <input type="radio" checked name="radio4" value='Soda'>
           <span class="checkmark"></span>
         </label>

<label class= "quiz-question">Water
           <input type="radio" checked name="radio4" value='Water'>
           <span class="checkmark"></span>
         </label>

<label class= "quiz-question">Coffee
           <input type="radio" checked name="radio4" value='Coffee'>
           <span class="checkmark"></span>
         </label>




<h2> What is Your Favorite Brand ?</h2>

<label class= "quiz-question">Supreme
           <input type="radio" checked name="radio5" value='supreme'>
           <span class="checkmark"></span>
         </label>


<label class= "quiz-question">Gucci
           <input type="radio" checked name="radio5" value='gucci'>
           <span class="checkmark"></span>
         </label>

<label class= "quiz-question">Champian
           <input type="radio" checked name="radio5" value='Champian'>
           <span class="checkmark"></span>
         </label>

<label class= "quiz-question">Nike
           <input type="radio" checked name="radio5" value='Nike'>
           <span class="checkmark"></span>
         </label>



<h2> Whats your Favorite Sport ? </h2>
<label class= "quiz-question">Baseball
           <input type="radio" checked name="radio6" value='baseball'>
           <span class="checkmark"></span>
         </label>


<label class= "quiz-question">Basketball
           <input type="radio" checked name="radio6" value='basketball'>
           <span class="checkmark"></span>
         </label>
         
<label class= "quiz-question">Soccer
           <input type="radio" checked name="radio6" value='soccer'>
           <span class="checkmark"></span>
         </label>

<label class= "quiz-question">Football
           <input type="radio" checked name="radio6" value='Football'>
           <span class="checkmark"></span>
         </label>

  <button type="submit">Submit</button>
</form>
<div class="quiz-result"></div>
 


</body>
</html>
